.status__container {
    display: flex;
    align-items: center;
    height: 47px;
    background-color: #f6f4f4;
    padding: 15px 28px;
    border-radius: 30px;
    color: #626262;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.11);

    img {
        padding-right: 15px;
    }
}
