.nav__container {
    font-family: CascadiaMono;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 35px;
    padding-bottom: 35px;
    max-width: 1140px;
    margin: 0 auto;

    .nav__status {
    }

    .nav__links {
        padding-left: 40px;
        span {
            cursor: pointer;
            color: #626262;
            padding: 10px 15px;
            font-size: 16px;
            transition: 500ms;

            &:last-child {
                padding-right: 0px;
            }

            &:hover {
                transition: 250ms;
                color: #ffa014;
                font-weight: 500;
            }
        }
    }
}
