@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import "./breakpoints.module.scss";

// $breakpoints: (
//     "phone": 320px,
//     "tablet": 768px,
//     "desktop": 1140px,
//     "large_desktop": 1920px,
//     "xtra_large_desktop": 2560px,
// ) !default;

.container {
    max-width: 1140px;
    margin: 0 auto;
    main {
        display: flex;
        align-items: center;
        margin-top: 111px;
        margin-bottom: 111px;
        position: relative;

        .text__container {
            width: 574px;

            h1 {
                margin-top: 0px;
                font-family: "Playfair Display", serif;
                font-size: 72px;
                font-weight: 400;
                line-height: 96px;
            }
            h3 {
                font-family: "Lato", sans-serif;
                font-weight: 300;
                font-size: 18px;
                margin-bottom: 0px;
            }
            p {
                font-family: "Lato", sans-serif;
                font-weight: 400;
                font-size: 24px;
            }

            img {
                position: absolute;
                width: 499px;
                left: -750px;
                top: 0px;
                z-index: -1;

                @include media(">=xtra_large_desktop") {
                    left: -1060px;
                }
            }
        }
        .illustration__container {
            img {
                width: 562px;
            }
        }
    }
}

// .container {
//     min-height: 100vh;
//     padding: 0 0.5rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .main {
//     padding: 5rem 0;
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .footer {
//     width: 100%;
//     height: 100px;
//     border-top: 1px solid #eaeaea;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img {
//         margin-left: 0.5rem;
//     }

//     a {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }

// .title {
//     margin: 0;
//     line-height: 1.15;
//     font-size: 4rem;
//     text-align: center;

//     a {
//         color: #0070f3;
//         text-decoration: none;

//         &:hover {
//             text-decoration: underline;
//         }
//         &:focus {
//             text-decoration: underline;
//         }
//         &:focus {
//             text-decoration: underline;
//         }
//     }
// }

// .description {
//     text-align: center;
//     line-height: 1.5;
//     font-size: 1.5rem;
// }

// .code {
//     background: #fafafa;
//     border-radius: 5px;
//     padding: 0.75rem;
//     font-size: 1.1rem;
//     font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
//         DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
// }

// .grid {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     max-width: 800px;
//     margin-top: 3rem;
// }

// .card {
//     margin: 1rem;
//     flex-basis: 45%;
//     padding: 1.5rem;
//     text-align: left;
//     color: inherit;
//     text-decoration: none;
//     border: 1px solid #eaeaea;
//     border-radius: 10px;
//     transition: color 0.15s ease, border-color 0.15s ease;

//     h3 {
//         margin: 0 0 1rem 0;
//         font-size: 1.5rem;
//     }

//     p {
//         margin: 0;
//         font-size: 1.25rem;
//         line-height: 1.5;
//     }

//     &:hover {
//         color: #0070f3;
//         border-color: #0070f3;
//     }
//     &:focus {
//         color: #0070f3;
//         border-color: #0070f3;
//     }
//     &:active {
//         color: #0070f3;
//         border-color: #0070f3;
//     }
// }

// .logo {
//     height: 1em;
// }

// @media (max-width: 600px) {
//     .grid {
//         width: 100%;
//         flex-direction: column;
//     }
// }
