@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import "./breakpoints.module.scss";

// $breakpoints: (
//     "phone": 320px,
//     "tablet": 768px,
//     "desktop": 1140px,
//     "large_desktop": 1920px,
//     "xtra_large_desktop": 2560px,
// ) !default;

.container {
    max-width: 1140px;
    margin: 0 auto;
    .container__hero {
        max-width: 1140px;
        display: flex;
        align-items: center;
        margin-top: 111px;
        margin-bottom: 111px;
        position: relative;
        flex-wrap: wrap;

        .text__container {
            max-width: 560px;
            @include media("<desktop") {
                padding: 1.6em;
            }

            h1 {
                margin-top: 0px;
                font-family: "Playfair Display", serif;
                font-size: 72px;
                font-weight: 400;
                line-height: 96px;
            }
            h3 {
                font-family: "Lato", sans-serif;
                font-weight: 300;
                font-size: 18px;
                margin-bottom: 0px;
            }
            p {
                font-family: "Lato", sans-serif;
                font-weight: 400;
                font-size: 24px;
            }

            img {
                position: absolute;
                max-width: 499px;
                left: -750px;
                top: 110px;
                z-index: -1;

                @include media(">=xtra_large_desktop") {
                    left: -668px;
                }

                @include media(">=large_desktop") {
                    left: -580px;
                }
                @include media("<large_desktop") {
                    left: -400px;
                }
                @include media("<=desktop") {
                    left: -400px;
                }
            }
        }
        .illustration__container {
            img {
                width: 562px;
            }
        }
    }
}
